* {
  box-sizing: border-box;
}
h1, #title {
  font-display: center;
  color:rgb(3, 31, 41);
  font-weight: bold;
  font-size: 50px;
}

#master-container {
  width: 70%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  margin-left: 100px;

}
body {
  background-image: url("https://thumbs.dreamstime.com/b/old-globe-bookshelf-background-selective-focus-retro-style-old-globe-bookshelf-background-selective-focus-retro-style-121971007.jpg");
  margin: 0;
  opacity: .8;
  background-size: auto;
  background-attachment: fixed;
  color:black;
  font-weight: bold;
  font-size: 15px;
  font-family: arial, helvetica;
  width: 1000px;
  margin: 50px auto;
  text-align: center;
  
}

button {
  background-color: rgb(3, 31, 41);
  border: auto;
  color: lightblue;   
  padding: auto;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin:40px 225px;    
  box-shadow: 5px 10px 18px rgb(4, 36, 63);
  font-family: 'Courier New', Courier, monospace;
  display: block;
  width: 200px;
  height: 80px;
  margin: 80px auto 0 auto;
  cursor: pointer;
  font-size: 45px;
}

footer {
color: white;
position: absolute;


}